body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
}



main { 
    margin: 0 auto;
    width: 980px;
    position: relative;
}



.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu ul li {
    display: inline-block;
    color: black;
    margin-left: 15px;
    line-height: 50px;
    height: auto;
}

.menu ul li a:hover {
    padding: 0px 0px 15px ;
    border-bottom: 2px solid #0098c6 ;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style:oblique;
    transition: color 0.3s ease-in-out;
  }
  
  .dark .menu ul li a {
    color: white;
  }
  
  .menu ul li a:hover {
    color: #0098c6;
  }
.menu {
    width: 70%;
    float: left;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.center-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }

a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: auto;
}


footer img {
    height: 50px;
    width: 50px;
    margin: auto;
}


footer {
   
    background-color: #252323;
    color: #fff;
    height: 16vh;
    bottom: 0 ;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}


img {
    height: 40%;
    width: 40%;
    margin: auto ;
   display: block;
}



nav a {
display: inline-block;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 40px;
    padding: 25px;

}

header h1 {
    color: orangered ;
    text-align: center;
    justify-content: center;
  margin: 20px ;
}

header h2 { 
    color: black;
   
    margin: 20px ;
}


@media only screen and (max-width: 800px) {
    h3 {
       font-size: 15px ;
       justify-content: center;
       text-align: center;
       margin: 10px ;
    }
   
    .menu ul li {
       display: flexbox;
       font-size: 10px;
    }
   
   
    footer {
       display: flex;
       position: relative
    }
    
    .insta img {
     height: 0px;
     width: 0px;
    }

    .logo {
        height: 100px;
        width: 100px;
  margin: 40px;
    }


    footer p {
        margin: 5px;
        font-size: 20px;
    }

    footer {
        height: 20vh;
    }
   }

   nav img {
   width: 80%;
   height: 80%;
   }

   .menu-principal {
    width: 120%;
    background-color: #252323;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
 
}